.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $desktop-breakpoint) {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}

.about-img {
  width: 50%;
}

.about-img img {
  border-radius: 1em;
  opacity: 85%;
  height: 85%;
  width: 65%;
}

.about-text {
  width: 100%;
  text-align: right;
  float: right;
  @media screen and (min-width: $desktop-breakpoint) {
    width: 35%;
  }
}

.about-text h1 {
  color: $blue;
  font-size: $xl-size;
  border-bottom: $xs-size solid $blue;
  width: 100%;
  margin-bottom: $m-size;
}

.about-text p {
  font-size: $m-size;
  text-align: right;
}
