.book-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @media screen and (min-width: $desktop-breakpoint) {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

.booking-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  color: $blue;
  border-radius: 1em;
  padding: $m-size;
  @media screen and (min-width: $desktop-breakpoint) {
    width: fit-content;
    margin-bottom: 0;
  }
}

.booking-details .generals {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: $white;
  color: $blue;
  border-radius: 1em;
  gap: $m-size;
  margin-bottom: $m-size;
}

.booking-details .book-inpt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $xs-size;
}

.booking-details .generals select {
  cursor: pointer;
}

.booking-details .generals input,
.booking-details .generals select {
  width: 100%;
  outline: none;
  border: $xxs-size solid $blue;
  border-radius: 1em;
  padding: $xxs-size $xs-size;
  font-size: $m-size;
  background-color: $white;
  color: $blue;
  font-family: 'Rubik', sans-serif;
}

.booking-details select option {
  color: $blue;
  background-color: $white;
  cursor: pointer;
}

.booking-details .date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.booking-details .time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.book-container h3 {
  text-align: left;
  font-size: $m-size;
  width: 100%;
}

.booking-details ul {
  margin: $m-size 0 $l-size;
  list-style: none;
  border-radius: 1em;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: $s-size;
  column-gap: $s-size;
  @media screen and (min-width: $desktop-breakpoint) {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

.booking-details li {
  border: $xxs-size solid $blue;
  text-align: center;
  border-radius: 1em;
  width: 100%;
  padding: 0 $m-size;
  font-size: $m-size;
  transition: all 0.5s;
  cursor: pointer;
}

.booking-details li.selected,
.booking-details li:hover {
  background-color: $blue;
  color: $white;
}

.booking-details li.booked,
.booking-details li.booked:hover {
  border: $xxs-size solid $light-blue;
  cursor: none;
  background-color: $white;
  color: $light-blue;
}

.booking-details .button {
  background-color: $blue;
  border-radius: 1em;
  border: $xxs-size solid $blue;
  color: $white;
  font-size: $l-size;
  padding: 0 $l-size;
  transition: all 0.5s;
}

.booking-details .button:hover {
  background-color: $white;
  color: $blue;
}

.booking-details .button:disabled,
.booking-details .button[disabled] {
  color: $white;
  border: $xxs-size solid $light-blue;
  background-color: $light-blue;
}
