.button {
  border: $xxs-size solid;
  border-radius: 1em;
}

.header-button {
  border-color: $white;
  padding: 0 $m-size;
}

.dropdown-button {
  font-size: $l-size;
  background-color: transparent;
  color: $white;
  border: none;
  border-radius: none;
}

.home-button {
  border-color: $blue;
  background-color: transparent;
  color: $blue;
  font-size: $l-size;
  padding: 0 $l-size;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  @media screen and (min-width: $desktop-breakpoint) {
    font-size: $xl-size;
  }
}
