.dropdown-button {
  display: inline-block;
  border: none;
  border-radius: none;
  background: none;
  position: relative;
  font-size: $l-size;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  font-family: 'Rubik', sans-serif;
}

.dropdown-header {
  font-size: $l-size;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0 $s-size;
  margin: 0;
  display: none;
  visibility: hidden;
}

.dropdown-menu ul.open {
  background-color: $blue;
  display: block;
  visibility: visible;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.dropdown-menu ul li {
  margin: $m-size 0;
  padding: 0;
  background-color: $blue;
  cursor: pointer;
  width: 100%;
  color: $white;
}
